body {
  color: white;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
p,
a {
  color: white;
}
header {
  h3 {
    color: var(--bgrey);
  }
}
main h1 span {
  color: var(--uilblue);
}

.skills {
  .progress-bar-bg {
    background-image: linear-gradient(
      90deg,
      var(--whitebg) 40%,
      transparent 40%
    );
  }
  .progress-bar {
    background-image: linear-gradient(
      90deg,
      var(--uilblue) 40%,
      transparent 40%
    );
  }
}
